<h1>New Artist</h1>

<%= render 'form' %> <!--render looks for anything named form so then it goes to _form and runs the .html file so we don't have to paste the form html helper file in everything that has a form-->

<%= link_to 'Back', artists_path %>
